# P2. Investigate a Dataset

## Introduction
<img style="float: center;" src="img/logo.png">

This is about exploring a provided dataset, and I chose the [Sean Lahman's baseball database](http://www.seanlahman.com/baseball-archive/statistics/) as the source of data.

##  Questions to the data

At this point I can't ask any interesting questions to the data just yet, since:
*  I don't know yet what exactly kind of data is available, how is it organized, which parts can be used etc.
*  I am not that good in the domain area either (American baseball is not really a thing in Europe)

So I'll start from both exploring the data and trying to build up a context about it in parallel, and hopefully the relevant questions will arise in the process.

##  Data exploration

Let's start from the top-down view of the data, and then proceed with drilling into more details.

In [1]:
# initial setup/imports
%matplotlib inline

import os 
import IPython.core.display as disp
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns

# custom notebook styling 
with open('custom.css', 'r') as f:
    style = disp.HTML("""<style type="text/css">%s</style>"""%(f.read()))
style

###  General structure

We've got an archive with a set of CSV files and a couple of text files (readme*.txt). Let's unpack the files into the "data" folder. Then, the CSV files are:

In [2]:
dir_root = "data/"
files = [f for f in os.listdir(dir_root) if f.endswith('.csv')]

print "Tables: %s"%(", ".join(map(lambda s: s.split(".")[0], files)))

Tables: AllstarFull, Appearances, AwardsManagers, AwardsPlayers, AwardsShareManagers, AwardsSharePlayers, Batting, BattingPost, CollegePlaying, Fielding, FieldingOF, FieldingPost, HallOfFame, HomeGames, Managers, ManagersHalf, Master, Parks, Pitching, PitchingPost, Salaries, Schools, SeriesPost, Teams, TeamsFranchises, TeamsHalf

We can see the list of "tables" with data that are available. Also, there is a text file ("readme2014.txt") in the same folder, which has a very short description of each table and its columns. It's a good start.

In [3]:
import csv
import pandas as pd

tables = {}

for f in files:
    name = f.split('.')[0]
    tables[name] = pd.read_csv(dir_root + f)

for name, t in tables.iteritems():
    print "[%s]: %s"%(name, ", ".join(t.columns))
    disp.display(t.describe())

[ManagersHalf]: playerID, yearID, teamID, lgID, inseason, half, G, W, L, rank

,yearID,inseason,half,G,W,L,rank
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000
mean,1947.505376,1.387097,1.483871,49.784946,24.645161,24.645161,5.161290
std,43.351351,0.752276,0.502448,19.150916,12.218700,9.389686,3.194051
min,1892.000000,1.000000,1.000000,2.000000,0.000000,2.000000,1.000000
25%,1892.000000,1.000000,1.000000,47.000000,16.000000,21.000000,3.000000
50%,1981.000000,1.000000,1.000000,53.000000,25.000000,25.000000,5.000000
75%,1981.000000,2.000000,2.000000,57.000000,31.000000,30.000000,7.000000
max,1981.000000,5.000000,2.000000,80.000000,53.000000,46.000000,12.000000

[BattingPost]: yearID, round, playerID, teamID, lgID, G, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO, IBB, HBP, SH, SF, GIDP

,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11489.000000,11690.000000,11690.000000,10651.000000,10453.000000,10446.000000,10442.000000,10485.000000
mean,1983.041660,3.277844,8.840890,1.054149,2.150984,0.375192,0.055518,0.218392,0.977844,0.169718,0.079380,0.832678,1.670830,0.096517,0.072611,0.126843,0.058609,0.175203
std,30.878498,1.930691,8.981517,1.591499,2.704839,0.739625,0.251774,0.562878,1.647508,0.608723,0.313297,1.358261,2.000072,0.378132,0.288822,0.401163,0.253721,0.450651
min,1884.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1971.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1995.000000,3.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2006.000000,5.000000,16.000000,2.000000,4.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2015.000000,15.000000,66.000000,13.000000,21.000000,6.000000,4.000000,6.000000,13.000000,15.000000,5.000000,13.000000,13.000000,7.000000,4.000000,5.000000,3.000000,5.000000

[CollegePlaying]: playerID, schoolID, yearID

             yearID
count  17350.000000
mean    1969.490259
std       32.783259
min     1864.000000
25%     1949.000000
50%     1981.000000
75%     1995.000000
max     2014.000000

[Parks]: park.key, park.name, park.alias, city, state, country

,park.key,park.name,park.alias,city,state,country
count,250,250,57,250,249,250
unique,250,240,56,83,34,6
top,NYC15,Athletic Park,Federal League Park,Philadelphia,NY,US
freq,1,4,2,14,40,242

[AwardsPlayers]: playerID, awardID, yearID, lgID, tie, notes

            yearID
count  6078.000000
mean   1968.459033
std      30.567689
min    1877.000000
25%    1942.000000
50%    1974.000000
75%    1995.000000
max    2015.000000

[Master]: playerID, birthYear, birthMonth, birthDay, birthCountry, birthState, birthCity, deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity, nameFirst, nameLast, nameGiven, weight, height, bats, throws, debut, finalGame, retroID, bbrefID

,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,weight,height
count,18703.000000,18531.000000,18382.000000,9336.000000,9335.000000,9334.000000,17975.000000,18041.000000
mean,1930.664118,6.627327,15.609020,1963.850364,6.484092,15.570281,185.980862,72.255640
std,41.229079,3.467110,8.748942,31.506369,3.528685,8.778580,21.226988,2.598983
min,1820.000000,1.000000,1.000000,1872.000000,1.000000,1.000000,65.000000,43.000000
25%,1894.000000,4.000000,8.000000,1942.000000,3.000000,8.000000,170.000000,71.000000
50%,1936.000000,7.000000,16.000000,1966.000000,6.000000,15.000000,185.000000,72.000000
75%,1968.000000,10.000000,23.000000,1989.000000,10.000000,23.000000,200.000000,74.000000
max,1995.000000,12.000000,31.000000,2016.000000,12.000000,31.000000,320.000000,83.000000

[FieldingOF]: playerID, yearID, stint, Glf, Gcf, Grf

             yearID         stint           Glf           Gcf           Grf
count  12028.000000  12028.000000  11991.000000  11991.000000  11985.000000
mean    1912.736448      1.086548     15.740639     15.574598     15.755695
std       23.723650      0.306644     33.289793     34.599550     33.078331
min     1871.000000      1.000000      0.000000      0.000000      0.000000
25%     1891.000000      1.000000      0.000000      0.000000      0.000000
50%     1912.000000      1.000000      1.000000      1.000000      1.000000
75%     1933.000000      1.000000     11.000000      8.000000     11.000000
max     1955.000000      5.000000    156.000000    162.000000    160.000000

[Pitching]: playerID, yearID, stint, teamID, lgID, W, L, G, GS, CG, SHO, SV, IPouts, H, ER, HR, BB, SO, BAOpp, ERA, IBB, WP, HBP, BK, BFP, GF, R, SH, SF, GIDP

,yearID,stint,W,L,G,GS,CG,SHO,SV,IPouts,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,44139.000000,44139.00000,44139.000000,44139.000000,44139.000000,44139.000000,44139.000000,44139.00000,44139.000000,44138.000000,...,29564.000000,44006.000000,43580.000000,44139.000000,43900.000000,44006.000000,44139.000000,11239.000000,11239.000000,745.000000
mean,1967.786493,1.07925,4.748794,4.748771,23.667142,9.552550,3.207979,0.45615,1.503976,255.673886,...,2.447064,2.534836,2.271111,0.303881,345.551572,6.355611,43.332291,2.207759,1.908088,4.844295
std,37.352599,0.28443,5.837989,5.007080,18.462900,12.312479,7.134955,1.11821,4.971535,258.428826,...,2.792671,3.438515,3.008115,0.759298,350.259188,10.003279,43.437952,2.751917,2.143002,5.524863
min,1871.000000,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1940.000000,1.00000,0.000000,1.000000,7.000000,0.000000,0.000000,0.00000,0.000000,50.000000,...,0.000000,0.000000,0.000000,0.000000,64.000000,0.000000,11.000000,0.000000,0.000000,1.000000
50%,1977.000000,1.00000,2.000000,3.000000,22.000000,3.000000,0.000000,0.00000,0.000000,169.000000,...,2.000000,1.000000,1.000000,0.000000,229.000000,3.000000,29.000000,1.000000,1.000000,3.000000
75%,2000.000000,1.00000,7.000000,8.000000,35.000000,18.000000,3.000000,0.00000,1.000000,397.000000,...,4.000000,4.000000,3.000000,0.000000,540.000000,8.000000,68.000000,3.000000,3.000000,7.000000
max,2015.000000,4.00000,59.000000,48.000000,106.000000,75.000000,75.000000,16.00000,62.000000,2040.000000,...,23.000000,63.000000,41.000000,16.000000,2906.000000,84.000000,519.000000,21.000000,14.000000,36.000000

[AllstarFull]: playerID, yearID, gameNum, gameID, teamID, lgID, GP, startingPos

            yearID      gameNum           GP  startingPos
count  5069.000000  5069.000000  5050.000000  1580.000000
mean   1976.433024     0.136911     0.778218     5.037975
std      23.693503     0.461412     0.415486     2.653486
min    1933.000000     0.000000     0.000000     0.000000
25%    1958.000000     0.000000     1.000000     3.000000
50%    1976.000000     0.000000     1.000000     5.000000
75%    1998.000000     0.000000     1.000000     7.000000
max    2015.000000     2.000000     1.000000    10.000000

[HomeGames]: year.key, league.key, team.key, park.key, span.first, span.last, games, openings, attendance

          year.key        games     openings    attendance
count  2944.000000  2944.000000  2944.000000  2.944000e+03
mean   1952.110054    70.804008    48.941236  1.077794e+06
std      42.433247    19.765014    33.301467  1.032963e+06
min    1871.000000     1.000000     0.000000  0.000000e+00
25%    1915.000000    74.000000     7.000000  4.836600e+04
50%    1959.000000    78.000000    66.000000  8.747525e+05
75%    1990.000000    81.000000    79.000000  1.805209e+06
max    2014.000000    89.000000    83.000000  4.483203e+06

[Appearances]: yearID, teamID, lgID, playerID, G_all, GS, G_batting, G_defense, G_p, G_c, G_1b, G_2b, G_3b, G_ss, G_lf, G_cf, G_rf, G_of, G_dh, G_ph, G_pr

,yearID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
count,100951.000000,100748.000000,49030.000000,100951.000000,100748.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,100951.000000,49233.000000,49233.000000,42945.000000
mean,1963.352755,51.604081,34.329023,48.682490,48.843550,10.349189,4.766025,4.614724,4.597894,4.613615,4.587562,4.864003,4.595219,4.726798,13.881289,1.923832,4.551987,0.962696
std,38.585051,47.260338,47.514144,48.949621,46.090187,16.970473,19.002137,20.784987,20.550055,20.400925,21.217885,19.117279,20.275400,19.382664,34.853954,10.621366,9.476957,2.782770
min,1871.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1933.000000,13.000000,0.000000,7.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1972.000000,35.000000,9.000000,31.000000,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1997.000000,81.000000,52.000000,81.000000,74.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,5.000000,1.000000
max,2015.000000,165.000000,163.000000,165.000000,165.000000,106.000000,160.000000,162.000000,163.000000,164.000000,165.000000,163.000000,162.000000,162.000000,164.000000,162.000000,95.000000,92.000000

[HallOfFame]: playerID, yearid, votedBy, ballots, needed, votes, inducted, category, needed_note

            yearid      ballots       needed        votes
count  4120.000000  3927.000000  3770.000000  3927.000000
mean   1968.889563   320.705373   243.989920    50.995926
std      22.899162   125.495156    94.557016    84.845195
min    1936.000000    78.000000    59.000000     0.000000
25%    1950.000000   226.000000   175.000000     2.000000
50%    1964.000000   274.000000   213.000000    10.000000
75%    1987.000000   425.000000   321.000000    64.000000
max    2016.000000   581.000000   436.000000   555.000000

[FieldingPost]: playerID, yearID, teamID, lgID, round, POS, G, GS, InnOuts, PO, A, E, DP, TP, PB, SB, CS

,yearID,G,GS,InnOuts,PO,A,E,DP,TP,PB,SB,CS
count,12311.000000,12311.000000,11924.000000,11990.000000,12311.000000,12311.000000,12311.000000,12311.000000,12311.000000,1351.000000,5555.000000,5555.000000
mean,1986.404922,2.963935,2.170748,58.023353,6.443506,2.458208,0.189505,0.532776,0.000081,0.143597,0.580378,0.314851
std,27.247863,1.844349,2.237781,57.560177,11.287227,4.628965,0.525923,1.267366,0.009013,0.421762,1.278113,0.777604
min,1903.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1975.000000,1.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1996.000000,3.000000,1.000000,30.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2006.000000,4.000000,4.000000,105.000000,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,2015.000000,11.000000,8.000000,222.000000,91.000000,33.000000,8.000000,13.000000,1.000000,3.000000,16.000000,10.000000

[SeriesPost]: yearID, round, teamIDwinner, lgIDwinner, teamIDloser, lgIDloser, wins, losses, ties

            yearID        wins      losses        ties
count   307.000000  307.000000  307.000000  307.000000
mean   1981.374593    3.570033    1.420195    0.009772
std      32.681865    0.782246    1.106716    0.098530
min    1884.000000    1.000000    0.000000    0.000000
25%    1970.000000    3.000000    0.000000    0.000000
50%    1995.000000    4.000000    1.000000    0.000000
75%    2006.000000    4.000000    2.000000    0.000000
max    2015.000000   10.000000    5.000000    1.000000

[Schools]: schoolID, name_full, city, state, country

       schoolID                        name_full     city state country
count      1207                             1207     1207  1207    1207
unique     1207                             1199      856    49       1
top      mercer  Butler County Community College  Chicago    CA     USA
freq          1                                2        9   136    1207

[AwardsManagers]: playerID, awardID, yearID, lgID, tie, notes

            yearID  notes
count   177.000000    0.0
mean   1988.615819    NaN
std      20.788693    NaN
min    1936.000000    NaN
25%    1980.000000    NaN
50%    1994.000000    NaN
75%    2004.000000    NaN
max    2015.000000    NaN

[Teams]: yearID, lgID, teamID, franchID, divID, Rank, G, Ghome, W, L, DivWin, WCWin, LgWin, WSWin, R, AB, H, 2B, 3B, HR, BB, SO, SB, CS, HBP, SF, RA, ER, ERA, CG, SHO, SV, IPouts, HA, HRA, BBA, SOA, E, DP, FP, name, park, attendance, BPF, PPF, teamIDBR, teamIDlahman45, teamIDretro

,yearID,Rank,G,Ghome,W,L,R,AB,H,2B,...,HA,HRA,BBA,SOA,E,DP,FP,attendance,BPF,PPF
count,2805.000000,2805.000000,2805.00000,2406.000000,2805.000000,2805.000000,2805.000000,2805.000000,2805.000000,2805.000000,...,2805.000000,2805.000000,2805.000000,2805.000000,2805.000000,2488.000000,2805.000000,2.526000e+03,2805.000000,2805.000000
mean,1955.036720,4.107308,150.34795,78.465919,74.749020,74.749020,681.945811,5142.492335,1346.273440,227.624955,...,1346.083779,101.136542,474.010695,731.229234,186.337255,140.186495,0.961519,1.344346e+06,100.199643,100.225668
std,41.519083,2.323414,23.22725,4.698684,17.640402,17.378079,135.738244,750.551691,219.891603,58.692602,...,219.521064,58.245002,131.890032,296.409881,107.657444,29.322764,0.030224,9.469316e+05,4.882215,4.814985
min,1871.000000,1.000000,6.00000,44.000000,0.000000,4.000000,24.000000,211.000000,33.000000,3.000000,...,49.000000,0.000000,0.000000,0.000000,47.000000,18.000000,0.760000,6.088000e+03,60.000000,60.000000
25%,1919.000000,2.000000,153.00000,77.000000,66.000000,65.000000,613.000000,5127.000000,1299.000000,193.000000,...,1288.000000,46.000000,427.000000,501.000000,116.000000,126.000000,0.960000,5.287162e+05,97.000000,97.000000
50%,1963.000000,4.000000,157.00000,81.000000,77.000000,76.000000,690.000000,5389.000000,1393.000000,231.000000,...,1392.000000,109.000000,494.000000,735.000000,145.000000,145.000000,0.970000,1.140348e+06,100.000000,100.000000
75%,1992.000000,6.000000,162.00000,81.000000,87.000000,87.000000,763.000000,5517.000000,1467.000000,270.000000,...,1470.000000,148.000000,555.000000,965.000000,217.000000,159.250000,0.980000,2.014687e+06,103.000000,103.000000
max,2015.000000,13.000000,165.00000,84.000000,116.000000,134.000000,1220.000000,5781.000000,1783.000000,376.000000,...,1993.000000,241.000000,827.000000,1450.000000,639.000000,217.000000,0.991000,4.483350e+06,129.000000,141.000000

[AwardsShareManagers]: awardID, yearID, lgID, playerID, pointsWon, pointsMax, votesFirst

            yearID   pointsWon   pointsMax  votesFirst
count   414.000000  414.000000  414.000000  414.000000
mean   1999.777778   39.879227  141.932367    4.543478
std       9.283738   41.598739   19.191283    7.060568
min    1983.000000    1.000000   24.000000    0.000000
25%    1992.000000    4.000000  140.000000    0.000000
50%    2000.000000   22.000000  140.000000    1.000000
75%    2008.000000   69.750000  150.000000    6.000000
max    2015.000000  154.000000  160.000000   30.000000

[Salaries]: yearID, teamID, lgID, playerID, salary

             yearID        salary
count  25575.000000  2.557500e+04
mean    2000.374389  2.008563e+06
std        8.610604  3.315706e+06
min     1985.000000  0.000000e+00
25%     1993.000000  2.750000e+05
50%     2000.000000  5.500000e+05
75%     2008.000000  2.250000e+06
max     2015.000000  3.300000e+07

[PitchingPost]: playerID, yearID, round, teamID, lgID, W, L, G, GS, CG, SHO, SV, IPouts, H, ER, HR, BB, SO, BAOpp, ERA, IBB, WP, HBP, BK, BFP, GF, R, SH, SF, GIDP

,yearID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,...,5059.000000,5059.000000,5059.000000,4884.000000,5059.000000,5109.000000,5109.000000,4398.000000,4398.000000,5059.000000
mean,1987.565473,0.299667,0.299667,1.911529,0.601683,0.128597,0.027794,0.109219,16.149149,4.921707,...,0.213679,0.146867,0.160901,0.013514,22.026092,0.473087,2.413192,0.290359,0.132788,0.382882
std,27.590228,0.561805,0.533933,1.011292,0.811819,0.480739,0.172533,0.420001,15.375949,4.783624,...,0.498319,0.415658,0.418301,0.115471,18.749470,0.838524,2.791809,0.634862,0.378057,0.693607
min,1884.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1977.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1998.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,12.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,2007.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,21.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,4.000000,0.000000,0.000000,1.000000
max,2015.000000,4.000000,4.000000,8.000000,8.000000,8.000000,3.000000,4.000000,213.000000,64.000000,...,4.000000,5.000000,3.000000,1.000000,178.000000,6.000000,36.000000,7.000000,4.000000,6.000000

[AwardsSharePlayers]: awardID, yearID, lgID, playerID, pointsWon, pointsMax, votesFirst

            yearID    pointsWon    pointsMax   votesFirst
count  6795.000000  6795.000000  6795.000000  6437.000000
mean   1971.923032    43.347609   266.878440     1.617990
std      27.449771    67.958756   128.989358     4.888965
min    1911.000000     0.000000    16.000000     0.000000
25%    1950.000000     4.000000   140.000000     0.000000
50%    1974.000000    12.000000   336.000000     0.000000
75%    1995.000000    52.000000   336.000000     0.000000
max    2015.000000   448.000000   448.000000    32.000000

[Fielding]: playerID, yearID, stint, teamID, lgID, POS, G, GS, InnOuts, PO, A, E, DP, PB, WP, SB, CS, ZR

,yearID,stint,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
count,170526.000000,170526.000000,170526.000000,75849.000000,102313.000000,156409.000000,156408.000000,156407.000000,156408.000000,11116.000000,4189.000000,6024.000000,6024.000000,4189.000000
mean,1966.517123,1.077818,33.651854,26.930823,708.231134,79.463496,30.826198,3.512093,6.349017,5.167326,11.772977,24.909031,12.066899,0.703032
std,38.550401,0.283581,41.117359,40.790139,1061.423810,176.463601,75.011893,7.534450,18.388112,9.116445,12.249974,25.816811,13.222888,1.394882
min,1871.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1941.000000,1.000000,4.000000,1.000000,54.000000,2.000000,1.000000,0.000000,0.000000,0.000000,2.000000,4.000000,1.000000,0.000000
50%,1977.000000,1.000000,16.000000,7.000000,220.000000,10.000000,5.000000,1.000000,1.000000,2.000000,8.000000,17.000000,8.000000,0.000000
75%,1998.000000,1.000000,45.000000,32.000000,754.000000,72.000000,22.000000,3.000000,3.000000,6.000000,19.000000,39.000000,19.000000,1.000000
max,2015.000000,5.000000,165.000000,164.000000,4469.000000,1846.000000,641.000000,119.000000,194.000000,105.000000,69.000000,155.000000,89.000000,15.000000

[TeamsFranchises]: franchID, franchName, active, NAassoc

       franchID            franchName active NAassoc
count       120                   120     95      12
unique      120                    99      2      12
top         CKK  Washington Nationals      N     NYU
freq          1                     5     65       1

[TeamsHalf]: yearID, lgID, teamID, Half, divID, DivWin, Rank, G, W, L

       yearID       Half       Rank          G          W          L
count    52.0  52.000000  52.000000  52.000000  52.000000  52.000000
mean   1981.0   1.500000   3.692308  53.423077  26.711538  26.711538
std       0.0   0.504878   1.842190   2.872084   5.333345   5.184201
min    1981.0   1.000000   1.000000  48.000000  15.000000  20.000000
25%    1981.0   1.000000   2.000000  52.000000  23.000000  23.000000
50%    1981.0   1.500000   4.000000  53.000000  27.000000  26.000000
75%    1981.0   2.000000   5.000000  56.000000  31.000000  29.000000
max    1981.0   2.000000   7.000000  60.000000  37.000000  42.000000

[Managers]: playerID, yearID, teamID, lgID, inseason, G, W, L, rank, plyrMgr

,yearID,inseason,G,W,L,rank
count,3405.000000,3405.000000,3405.000000,3405.000000,3405.000000,3404.000000
mean,1953.661087,1.234949,123.872834,61.578855,61.587372,4.351645
std,41.852866,0.598186,50.501189,28.789993,26.456165,2.400171
min,1871.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,1917.000000,1.000000,91.000000,42.000000,45.000000,2.000000
50%,1962.000000,1.000000,154.000000,70.000000,68.000000,4.000000
75%,1990.000000,1.000000,162.000000,84.000000,81.000000,6.000000
max,2015.000000,9.000000,165.000000,116.000000,120.000000,12.000000

[Batting]: playerID, yearID, stint, teamID, lgID, G, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO, IBB, HBP, SH, SF, GIDP

,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,101332.000000,101332.000000,101332.000000,96183.000000,96183.000000,96183.000000,96183.000000,96183.000000,96183.000000,95759.000000,94883.000000,72729.000000,96183.000000,88345.000000,59620.000000,93373.000000,89845.000000,60151.000000,70075.000000
mean,1963.506533,1.077567,51.400111,149.970327,19.887038,39.261647,6.637067,1.373361,2.949305,17.965163,3.158184,1.324025,13.811484,21.629849,1.213234,1.113395,2.457900,1.150122,3.210032
std,38.628278,0.283676,47.145273,186.557072,28.671365,53.310941,9.801563,2.710547,6.409662,26.756514,7.922994,2.838196,21.092775,28.432978,2.894918,2.320660,4.347818,2.023981,4.835881
min,1871.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1933.000000,1.000000,13.000000,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1972.000000,1.000000,34.000000,57.000000,5.000000,11.000000,1.000000,0.000000,0.000000,4.000000,0.000000,0.000000,3.000000,10.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,1997.000000,1.000000,80.250000,251.000000,30.000000,63.000000,10.000000,2.000000,3.000000,27.000000,2.000000,1.000000,20.000000,30.000000,1.000000,1.000000,3.000000,2.000000,5.000000
max,2015.000000,5.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [4]:
tables["BattingPost"]

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
2,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,...,0,1,NaN,0,3,0.0,NaN,NaN,NaN,NaN
3,1884,WS,forstto01,NY4,AA,1,3,0,0,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
4,1884,WS,keefeti01,NY4,AA,2,5,0,1,0,...,0,0,NaN,0,4,0.0,NaN,NaN,NaN,NaN
5,1884,WS,kenneed01,NY4,AA,3,7,0,0,0,...,0,0,NaN,0,2,0.0,NaN,NaN,NaN,NaN
6,1884,WS,nelsoca01,NY4,AA,3,10,0,1,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
7,1884,WS,orrda01,NY4,AA,3,9,0,1,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
8,1884,WS,reipsch01,NY4,AA,2,5,1,0,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
9,1884,WS,rosemch01,NY4,AA,3,9,1,3,0,...,1,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
10,1884,WS,troyda01,NY4,AA,2,5,0,1,0,...,1,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
11,1884,WS,carrocl01,PRO,NL,3,10,2,1,0,...,1,0,NaN,1,1,0.0,NaN,NaN,NaN,NaN
12,1884,WS,dennyje01,PRO,NL,3,9,3,4,0,...,2,0,NaN,0,3,0.0,NaN,NaN,NaN,NaN
13,1884,WS,farreja02,PRO,NL,3,9,3,4,2,...,0,1,NaN,0,0,0.0,NaN,NaN,NaN,NaN
14,1884,WS,gilliba01,PRO,NL,3,9,3,4,2,...,2,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
15,1884,WS,hinespa01,PRO,NL,3,8,5,2,0,...,1,2,NaN,3,0,0.0,NaN,NaN,NaN,NaN
16,1884,WS,irwinar01,PRO,NL,3,9,3,2,0,...,2,0,NaN,0,2,0.0,NaN,NaN,NaN,NaN
17,1884,WS,radboch01,PRO,NL,3,10,1,1,0,...,2,0,NaN,1,3,0.0,NaN,NaN,NaN,NaN
18,1884,WS,radfopa01,PRO,NL,3,7,1,0,0,...,1,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
19,1884,WS,startjo01,PRO,NL,3,10,0,1,0,...,1,0,NaN,0,2,0.0,NaN,NaN,NaN,NaN
20,1885,WS,barklsa01,SL4,AA,7,23,3,2,0,...,0,0,NaN,2,0,0.0,NaN,NaN,NaN,NaN
21,1885,WS,bushodo01,SL4,AA,4,13,1,2,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
22,1885,WS,carutbo01,SL4,AA,5,15,1,3,0,...,0,0,NaN,1,0,0.0,NaN,NaN,NaN,NaN
23,1885,WS,comisch01,SL4,AA,7,24,6,7,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
24,1885,WS,foutzda01,SL4,AA,4,12,1,2,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
25,1885,WS,gleasbi01,SL4,AA,7,26,5,6,2,...,0,0,NaN,1,0,0.0,NaN,NaN,NaN,NaN
26,1885,WS,lathaar01,SL4,AA,7,22,5,7,3,...,0,0,NaN,2,0,0.0,NaN,NaN,NaN,NaN
27,1885,WS,nicolhu01,SL4,AA,1,2,0,0,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
28,1885,WS,oneilti01,SL4,AA,7,24,4,5,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
29,1885,WS,robinya01,SL4,AA,7,23,5,4,0,...,0,0,NaN,1,0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11660,2015,ALDS1,valbulu01,HOU,AL,5,13,2,2,0,...,2,0,0.0,4,6,0.0,0.0,0.0,0.0,0.0
11661,2015,ALWC,valbulu01,HOU,AL,1,4,0,1,0,...,0,0,0.0,0,2,0.0,0.0,0.0,0.0,0.0
11662,2015,ALDS2,venabwi01,TEX,AL,4,2,0,1,0,...,0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0
11663,2015,ALDS1,ventuyo01,KCA,AL,2,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11664,2015,ALCS,ventuyo01,KCA,AL,2,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11665,2015,WS,ventuyo01,KCA,AL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,1.0,0.0,0.0
11666,2015,NLDS1,villaca01,SLN,NL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11667,2015,ALWC,villajo01,HOU,AL,1,0,1,0,0,...,0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11668,2015,ALDS1,volqued01,KCA,AL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11669,2015,ALCS,volqued01,KCA,AL,2,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11670,2015,WS,volqued01,KCA,AL,2,2,0,1,0,...,0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0
11671,2015,NLDS1,wachami01,SLN,NL,1,2,0,0,0,...,0,0,0.0,0,2,0.0,0.0,0.0,0.0,0.0
11672,2015,NLDS1,wainwad01,SLN,NL,3,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11673,2015,NLWC,walkene01,PIT,NL,1,3,0,0,0,...,0,0,0.0,0,2,0.0,0.0,0.0,0.0,0.0
11674,2015,NLWC,watsoto01,PIT,NL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11675,2015,ALWC,wilsoju10,NYA,AL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11676,2015,NLDS1,wongko01,SLN,NL,4,14,1,2,1,...,1,0,0.0,0,5,0.0,0.0,0.0,0.0,0.0
11677,2015,NLDS2,woodal02,LAN,NL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11678,2015,NLDS1,woodtr01,CHN,NL,3,2,0,0,0,...,0,0,0.0,0,2,0.0,0.0,0.0,0.0,0.0
11679,2015,NLCS,woodtr01,CHN,NL,3,1,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11680,2015,NLDS2,wrighda03,NYN,NL,5,16,1,1,0,...,2,0,0.0,5,7,1.0,0.0,0.0,0.0,2.0
11681,2015,NLCS,wrighda03,NYN,NL,4,14,5,4,2,...,1,1,0.0,4,5,0.0,0.0,0.0,0.0,0.0
11682,2015,WS,wrighda03,NYN,NL,5,24,1,5,0,...,4,0,1.0,1,8,0.0,0.0,0.0,0.0,0.0
11683,2015,ALDS1,youngch03,KCA,AL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11684,2015,ALCS,youngch03,KCA,AL,1,0,0,0,0,...,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
11685,2015,WS,youngch03,KCA,AL,2,1,0,0,0,...,0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0
11686,2015,ALWC,youngch04,NYA,AL,1,2,0,0,0,...,0,0,0.0,1,1,0.0,0.0,0.0,0.0,0.0
11687,2015,ALDS1,zobribe01,KCA,AL,5,18,2,6,1,...,2,1,0.0,2,2,0.0,0.0,1.0,1.0,1.0
11688,2015,ALCS,zobribe01,KCA,AL,6,25,8,8,3,...,4,0,0.0,2,2,0.0,0.0,0.0,0.0,1.0
11689,2015,WS,zobribe01,KCA,AL,5,23,5,6,4,...,0,0,0.0,3,2,2.0,0.0,0.0,0.0,0.0