# P2. Investigate a Dataset

## Introduction
<img style="float: center;" src="img/logo.png">

This is about exploring a provided dataset, and I chose the [Sean Lahman's baseball database](http://www.seanlahman.com/baseball-archive/statistics/) as the source of data.

##  Questions to the data

At this point I can't ask any interesting questions to the data just yet, since:
*  I don't know yet what exactly kind of data is available, how is it organized, which parts can be used etc.
*  I am not that good in the domain area either (American baseball is not really a thing in Europe)

So I'll start from both exploring the data and trying to build up a context about it in parallel, and hopefully the relevant questions will arise in the process.

##  Data exploration

Let's start from the top-down view of the data, and then proceed with drilling into more details.

In [6]:
# initial setup/imports
%matplotlib inline

import os 
import IPython.core.display as disp
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns

###  General structure

We've got an archive with a set of CSV files and a couple of text files (readme*.txt). Let's unpack the files into the "data" folder. Then, the CSV files are:

In [7]:
dir_root = "data/2016/"
files = [f for f in os.listdir(dir_root) if f.endswith('.csv')]

print "Tables: %s"%(", ".join(map(lambda s: s.split(".")[0], files)))

Tables: AllstarFull, Appearances, AwardsManagers, AwardsPlayers, AwardsShareManagers, AwardsSharePlayers, Batting, BattingPost, CollegePlaying, Fielding, FieldingOF, FieldingOFsplit, FieldingPost, HallOfFame, HomeGames, Managers, ManagersHalf, Master, Parks, Pitching, PitchingPost, Salaries, Schools, SeriesPost, Teams, TeamsFranchises, TeamsHalf

We can see the list of "tables" with data that are available. Also, there is a text file ("readme2014.txt") in the same folder, which has a very short description of each table and its columns. It's a good start.

In [10]:
import csv
import pandas as pd

tables = {}

for f in files:
    name = f.split('.')[0]
    tables[name] = pd.read_csv(dir_root + f)

for name, t in tables.iteritems():
    print "[%s]: %s"%(name, ", ".join(t.columns))
    disp.display(t.describe())

[ManagersHalf]: playerID, yearID, teamID, lgID, inseason, half, G, W, L, rank

,yearID,inseason,half,G,W,L,rank
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000
mean,1947.505376,1.387097,1.483871,49.784946,24.645161,24.645161,5.161290
std,43.351351,0.752276,0.502448,19.150916,12.218700,9.389686,3.194051
min,1892.000000,1.000000,1.000000,2.000000,0.000000,2.000000,1.000000
25%,1892.000000,1.000000,1.000000,47.000000,16.000000,21.000000,3.000000
50%,1981.000000,1.000000,1.000000,53.000000,25.000000,25.000000,5.000000
75%,1981.000000,2.000000,2.000000,57.000000,31.000000,30.000000,7.000000
max,1981.000000,5.000000,2.000000,80.000000,53.000000,46.000000,12.000000

[BattingPost]: yearID, round, playerID, teamID, lgID, G, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO, IBB, HBP, SH, SF, GIDP

,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,13543.000000,13543.00000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13342.00000,13543.000000,13543.000000,13543.000000,13342.000000,13342.000000,13342.000000,13342.000000
mean,1985.506904,3.13771,7.803072,0.929041,1.895149,0.331094,0.048660,0.193679,0.862438,0.149967,0.06903,0.733442,1.488740,0.081223,0.063109,0.104257,0.049393,0.148329
std,29.683760,1.88720,8.878143,1.528511,2.625735,0.705140,0.236422,0.532574,1.574862,0.573527,0.29327,1.300220,1.965664,0.348283,0.271150,0.365269,0.233992,0.419295
min,1884.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1997.000000,3.00000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2007.000000,4.00000,15.000000,1.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2016.000000,15.00000,66.000000,13.000000,21.000000,6.000000,4.000000,6.000000,13.000000,15.000000,5.00000,13.000000,13.000000,7.000000,4.000000,5.000000,3.000000,5.000000

[CollegePlaying]: playerID, schoolID, yearID

             yearID
count  17350.000000
mean    1969.490259
std       32.783259
min     1864.000000
25%     1949.000000
50%     1981.000000
75%     1995.000000
max     2014.000000

[Parks]: park.key, park.name, park.alias, city, state, country

,park.key,park.name,park.alias,city,state,country
count,249,249,57,249,248,249
unique,249,239,56,84,35,6
top,NYC15,Athletic Park,Federal League Park,Philadelphia,NY,US
freq,1,4,2,14,40,241

[AwardsPlayers]: playerID, awardID, yearID, lgID, tie, notes

            yearID
count  6158.000000
mean   1969.076648
std      30.841987
min    1877.000000
25%    1942.000000
50%    1975.000000
75%    1995.000000
max    2016.000000

[Master]: playerID, birthYear, birthMonth, birthDay, birthCountry, birthState, birthCity, deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity, nameFirst, nameLast, nameGiven, weight, height, bats, throws, debut, finalGame, retroID, bbrefID

,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,weight,height
count,18973.000000,18803.000000,18656.000000,9441.000000,9440.000000,9439.000000,18251.000000,18320.000000
mean,1931.435356,6.629474,15.614816,1964.287364,6.483581,15.569552,186.375596,72.273799
std,41.555514,3.468103,8.750216,31.808030,3.529655,8.779552,21.524765,2.603904
min,1820.000000,1.000000,1.000000,1872.000000,1.000000,1.000000,65.000000,43.000000
25%,1895.000000,4.000000,8.000000,1942.000000,3.000000,8.000000,170.000000,71.000000
50%,1937.000000,7.000000,16.000000,1967.000000,6.000000,15.000000,185.000000,72.000000
75%,1969.000000,10.000000,23.000000,1990.000000,10.000000,23.000000,200.000000,74.000000
max,1996.000000,12.000000,31.000000,2017.000000,12.000000,31.000000,320.000000,83.000000

[FieldingOF]: playerID, yearID, stint, Glf, Gcf, Grf

             yearID         stint           Glf           Gcf           Grf
count  12028.000000  12028.000000  11991.000000  11991.000000  11985.000000
mean    1912.736448      1.086548     15.740639     15.574598     15.755695
std       23.723650      0.306644     33.289793     34.599550     33.078331
min     1871.000000      1.000000      0.000000      0.000000      0.000000
25%     1891.000000      1.000000      0.000000      0.000000      0.000000
50%     1912.000000      1.000000      1.000000      1.000000      1.000000
75%     1933.000000      1.000000     11.000000      8.000000     11.000000
max     1955.000000      5.000000    156.000000    162.000000    160.000000

[Pitching]: playerID, yearID, stint, teamID, lgID, W, L, G, GS, CG, SHO, SV, IPouts, H, ER, HR, BB, SO, BAOpp, ERA, IBB, WP, HBP, BK, BFP, GF, R, SH, SF, GIDP

,yearID,stint,W,L,G,GS,CG,SHO,SV,IPouts,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,44963.000000,...,30388.000000,44830.000000,44405.000000,44963.000000,44724.000000,44830.000000,44963.000000,12063.000000,12063.000000,12061.000000
mean,1968.670062,1.079643,4.715744,4.715722,23.681761,9.485488,3.151035,0.448591,1.504793,253.872139,...,2.411379,2.528575,2.266096,0.301604,343.312181,6.345260,43.021773,2.141922,1.878388,5.322610
std,37.569499,0.284834,5.813410,4.988846,18.493488,12.283920,7.081844,1.109742,4.991518,257.330446,...,2.772648,3.425706,2.998881,0.755523,348.758261,9.993949,43.245812,2.710191,2.121352,5.990178
min,1871.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1941.000000,1.000000,0.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,49.000000,...,0.000000,0.000000,0.000000,0.000000,64.000000,0.000000,11.000000,0.000000,0.000000,1.000000
50%,1978.000000,1.000000,2.000000,3.000000,21.000000,3.000000,0.000000,0.000000,0.000000,167.000000,...,2.000000,1.000000,1.000000,0.000000,227.000000,3.000000,28.000000,1.000000,1.000000,3.000000
75%,2001.000000,1.000000,7.000000,8.000000,35.000000,17.000000,3.000000,0.000000,1.000000,393.000000,...,4.000000,4.000000,3.000000,0.000000,535.000000,8.000000,67.000000,3.000000,3.000000,8.000000
max,2016.000000,4.000000,59.000000,48.000000,106.000000,75.000000,75.000000,16.000000,62.000000,2040.000000,...,23.000000,63.000000,41.000000,16.000000,2906.000000,84.000000,519.000000,21.000000,14.000000,40.000000

[AllstarFull]: playerID, yearID, gameNum, gameID, teamID, lgID, GP, startingPos

            yearID      gameNum           GP  startingPos
count  5148.000000  5148.000000  5129.000000  1600.000000
mean   1977.040210     0.134810     0.777929     5.031250
std      24.008874     0.458167     0.415679     2.657007
min    1933.000000     0.000000     0.000000     0.000000
25%    1958.000000     0.000000     1.000000     3.000000
50%    1977.000000     0.000000     1.000000     5.000000
75%    1999.000000     0.000000     1.000000     7.000000
max    2016.000000     2.000000     1.000000    10.000000

[HomeGames]: year.key, league.key, team.key, park.key, span.first, span.last, games, openings, attendance

          year.key        games     openings    attendance
count  3006.000000  3006.000000  3006.000000  3.006000e+03
mean   1953.417498    70.960413    50.057219  1.107540e+06
std      42.949179    19.691534    33.037639  1.041145e+06
min    1871.000000     1.000000     0.000000  0.000000e+00
25%    1915.000000    74.000000     8.000000  6.055000e+04
50%    1961.000000    79.000000    67.000000  9.145680e+05
75%    1992.000000    81.000000    79.000000  1.858664e+06
max    2016.000000    89.000000    83.000000  4.483203e+06

[Appearances]: yearID, teamID, lgID, playerID, G_all, GS, G_batting, G_defense, G_p, G_c, G_1b, G_2b, G_3b, G_ss, G_lf, G_cf, G_rf, G_of, G_dh, G_ph, G_pr

,yearID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
count,102761.000000,102761.000000,90166.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,102761.000000,90166.000000,90166.000000,90166.000000
mean,1964.270219,51.380942,37.101601,48.417571,46.845243,10.362978,4.733615,4.588667,4.570304,4.587548,4.558850,4.840786,4.571005,4.702737,13.798708,1.260952,4.397167,0.806768
std,38.851188,47.126638,47.230209,48.889453,45.377191,16.963018,18.928323,20.713830,20.470539,20.325324,21.152432,19.019660,20.190575,19.296453,34.714992,8.443146,8.936892,2.521176
min,1871.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1934.000000,13.000000,1.000000,7.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1973.000000,34.000000,16.000000,31.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1998.000000,80.000000,55.000000,80.000000,70.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,5.000000,0.000000
max,2016.000000,165.000000,164.000000,165.000000,165.000000,106.000000,160.000000,162.000000,163.000000,164.000000,165.000000,163.000000,162.000000,162.000000,164.000000,162.000000,95.000000,92.000000

[HallOfFame]: playerID, yearid, votedBy, ballots, needed, votes, inducted, category, needed_note

            yearid      ballots       needed        votes
count  4156.000000  3961.000000  3804.000000  3961.000000
mean   1969.306304   321.746529   244.776551    51.465791
std      23.231639   125.455368    94.497219    85.473954
min    1936.000000    78.000000    59.000000     0.000000
25%    1950.000000   226.000000   175.000000     2.000000
50%    1966.000000   274.000000   213.000000    10.000000
75%    1988.000000   427.000000   323.000000    64.000000
max    2017.000000   581.000000   436.000000   555.000000

[FieldingPost]: playerID, yearID, teamID, lgID, round, POS, G, GS, InnOuts, PO, A, E, DP, TP, PB, SB, CS

,yearID,G,GS,InnOuts,PO,A,E,DP,TP,PB,SB,CS
count,12714.000000,12714.000000,12714.000000,12714.000000,12714.000000,12714.000000,12714.000000,12714.000000,12714.000000,1002.000000,1289.000000,1289.000000
mean,1987.339862,2.937471,2.136385,57.491269,6.387683,2.428583,0.186645,0.526270,0.000079,0.200599,0.670287,0.570985
std,27.306302,1.832593,2.221430,57.286623,11.235395,4.595591,0.522302,1.258644,0.008869,0.488304,1.438942,1.135862
min,1903.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1976.000000,1.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1997.000000,3.000000,1.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2007.000000,4.000000,4.000000,104.000000,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,2016.000000,8.000000,8.000000,222.000000,91.000000,33.000000,8.000000,13.000000,1.000000,3.000000,15.000000,10.000000

[SeriesPost]: yearID, round, teamIDwinner, lgIDwinner, teamIDloser, lgIDloser, wins, losses, ties

            yearID        wins      losses        ties
count   316.000000  316.000000  316.000000  316.000000
mean   1982.360759    3.550633    1.408228    0.009494
std      32.724093    0.801170    1.107462    0.097126
min    1884.000000    1.000000    0.000000    0.000000
25%    1970.750000    3.000000    0.000000    0.000000
50%    1995.000000    4.000000    1.000000    0.000000
75%    2007.000000    4.000000    2.000000    0.000000
max    2016.000000   10.000000    5.000000    1.000000

[FieldingOFsplit]: playerID, yearID, stint, teamID, lgID, POS, G, GS, InnOuts, PO, A, E, DP, PB, WP, SB, CS, ZR

,yearID,stint,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
count,31291.000000,31291.000000,31291.000000,20921.000000,20921.000000,21548.000000,21548.000000,21548.000000,21548.000000,0.0,0.0,0.0,0.0,0.0
mean,1988.649516,1.085296,28.832412,24.410019,656.014435,53.385140,1.667672,1.120893,0.344580,NaN,NaN,NaN,NaN,NaN
std,17.397249,0.295451,40.046401,38.857202,1023.007819,87.007142,3.052435,2.050349,0.839418,NaN,NaN,NaN,NaN,NaN
min,1954.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1974.000000,1.000000,3.000000,1.000000,38.000000,3.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,1990.000000,1.000000,10.000000,6.000000,177.000000,14.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
75%,2004.000000,1.000000,35.000000,27.000000,719.000000,57.000000,2.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
max,2016.000000,4.000000,163.000000,163.000000,4438.000000,509.000000,30.000000,19.000000,9.000000,NaN,NaN,NaN,NaN,NaN

[Schools]: schoolID, name_full, city, state, country

       schoolID                        name_full     city state country
count      1207                             1207     1207  1207    1207
unique     1207                             1199      856    49       1
top      mercer  Butler County Community College  Chicago    CA     USA
freq          1                                2        9   136    1207

[AwardsManagers]: playerID, awardID, yearID, lgID, tie, notes

            yearID
count   179.000000
mean   1988.921788
std      20.872123
min    1936.000000
25%    1980.500000
50%    1994.000000
75%    2005.000000
max    2016.000000

[Teams]: yearID, lgID, teamID, franchID, divID, Rank, G, Ghome, W, L, DivWin, WCWin, LgWin, WSWin, R, AB, H, 2B, 3B, HR, BB, SO, SB, CS, HBP, SF, RA, ER, ERA, CG, SHO, SV, IPouts, HA, HRA, BBA, SOA, E, DP, FP, name, park, attendance, BPF, PPF, teamIDBR, teamIDlahman45, teamIDretro

,yearID,Rank,G,Ghome,W,L,R,AB,H,2B,...,HA,HRA,BBA,SOA,E,DP,FP,attendance,BPF,PPF
count,2835.000000,2835.000000,2835.000000,2436.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,...,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2518.000000,2835.000000,2.556000e+03,2835.000000,2835.000000
mean,1955.681834,4.095238,150.469841,78.496305,74.814109,74.814109,682.399295,5146.473369,1346.939330,228.127690,...,1346.751675,102.045150,474.316755,737.241623,185.365432,140.237490,0.965447,1.357173e+06,100.197531,100.223280
std,41.767356,2.318674,23.134065,4.677657,17.591208,17.331455,135.224393,747.595825,218.926978,58.633383,...,218.656539,58.648758,131.328309,300.673368,107.508483,29.218873,0.029437,9.510391e+05,4.903349,4.834146
min,1871.000000,1.000000,6.000000,44.000000,0.000000,4.000000,24.000000,211.000000,33.000000,3.000000,...,49.000000,0.000000,0.000000,0.000000,47.000000,18.000000,0.765000,6.088000e+03,60.000000,60.000000
25%,1920.000000,2.000000,154.000000,77.000000,66.000000,65.000000,614.000000,5132.000000,1300.000000,193.500000,...,1289.000000,47.000000,429.000000,503.000000,116.000000,127.000000,0.965000,5.348265e+05,97.000000,97.000000
50%,1964.000000,4.000000,157.000000,81.000000,77.000000,76.000000,690.000000,5395.000000,1393.000000,231.000000,...,1392.000000,110.000000,494.000000,740.000000,145.000000,145.000000,0.976000,1.154750e+06,100.000000,100.000000
75%,1993.000000,6.000000,162.000000,81.000000,87.000000,87.000000,763.000000,5518.000000,1467.000000,271.000000,...,1470.000000,150.000000,554.000000,972.000000,215.000000,159.000000,0.981000,2.042453e+06,103.000000,103.000000
max,2016.000000,13.000000,165.000000,84.000000,116.000000,134.000000,1220.000000,5781.000000,1783.000000,376.000000,...,1993.000000,258.000000,827.000000,1510.000000,639.000000,217.000000,0.991000,4.483350e+06,129.000000,141.000000

[AwardsShareManagers]: awardID, yearID, lgID, playerID, pointsWon, pointsMax, votesFirst

            yearID   pointsWon   pointsMax  votesFirst
count   425.000000  425.000000  414.000000  425.000000
mean   2000.197647   40.117647  141.932367    4.567059
std       9.518527   41.601323   19.191283    7.057436
min    1983.000000    1.000000   24.000000    0.000000
25%    1992.000000    4.000000  140.000000    0.000000
50%    2000.000000   23.000000  140.000000    1.000000
75%    2009.000000   70.000000  150.000000    6.000000
max    2016.000000  154.000000  160.000000   30.000000

[Salaries]: yearID, teamID, lgID, playerID, salary

             yearID        salary
count  26428.000000  2.642800e+04
mean    2000.878727  2.085634e+06
std        8.909314  3.455348e+06
min     1985.000000  0.000000e+00
25%     1994.000000  2.947020e+05
50%     2001.000000  5.500000e+05
75%     2009.000000  2.350000e+06
max     2016.000000  3.300000e+07

[PitchingPost]: playerID, yearID, round, teamID, lgID, W, L, G, GS, CG, SHO, SV, IPouts, H, ER, HR, BB, SO, BAOpp, ERA, IBB, WP, HBP, BK, BFP, GF, R, SH, SF, GIDP

,yearID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,5271.000000,...,5221.000000,5221.000000,5221.000000,5221.000000,5221.000000,5271.000000,5271.000000,5221.000000,5221.000000,5221.000000
mean,1988.439385,0.297097,0.297097,1.914437,0.596471,0.125213,0.027130,0.109467,16.011383,4.869285,...,0.210688,0.145566,0.161272,0.013024,21.838154,0.471258,2.388162,0.266424,0.126221,0.379046
std,27.602733,0.558995,0.531859,1.014170,0.808481,0.474263,0.170456,0.420950,15.247467,4.748613,...,0.495235,0.412768,0.418950,0.113389,18.616765,0.838970,2.772179,0.605278,0.367715,0.689392
min,1884.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1978.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1998.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,12.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,2008.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,21.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,28.000000,1.000000,4.000000,0.000000,0.000000,1.000000
max,2016.000000,4.000000,4.000000,8.000000,8.000000,8.000000,3.000000,4.000000,213.000000,64.000000,...,4.000000,5.000000,3.000000,1.000000,178.000000,6.000000,36.000000,7.000000,4.000000,6.000000

[AwardsSharePlayers]: awardID, yearID, lgID, playerID, pointsWon, pointsMax, votesFirst

            yearID    pointsWon    pointsMax   votesFirst
count  6879.000000  6879.000000  6879.000000  6521.000000
mean   1972.461259    43.559674   267.518389     1.624751
std      27.707848    68.265957   128.988138     4.911428
min    1911.000000     0.000000    16.000000     0.000000
25%    1950.000000     4.000000   140.000000     0.000000
50%    1975.000000    12.000000   336.000000     0.000000
75%    1996.000000    53.000000   336.000000     0.000000
max    2016.000000   448.000000   448.000000    32.000000

[Fielding]: playerID, yearID, stint, teamID, lgID, POS, G, GS, InnOuts, PO, A, E, DP, PB, WP, SB, CS, ZR

,yearID,stint,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
count,136815.000000,136815.000000,136815.000000,85273.000000,85273.000000,136815.000000,136814.000000,136813.000000,136814.000000,11230.000000,4189.000000,6138.000000,6138.000000,4189.000000
mean,1961.653349,1.076812,35.445792,26.680626,716.201693,83.385469,35.324265,3.859282,7.290058,5.147996,11.772977,24.859726,12.005865,0.703032
std,40.949885,0.282308,41.482180,40.731792,1067.250667,186.285168,79.618300,7.962017,19.616904,9.078281,12.249974,25.714221,13.155354,1.394882
min,1871.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1928.000000,1.000000,5.000000,0.000000,58.000000,2.000000,1.000000,0.000000,0.000000,0.000000,2.000000,4.000000,1.000000,0.000000
50%,1972.000000,1.000000,19.000000,7.000000,226.000000,10.000000,7.000000,1.000000,1.000000,2.000000,8.000000,17.000000,8.000000,0.000000
75%,1997.000000,1.000000,48.000000,32.000000,752.000000,75.000000,27.000000,4.000000,3.000000,6.000000,19.000000,39.000000,19.000000,1.000000
max,2016.000000,5.000000,165.000000,164.000000,4469.000000,1846.000000,641.000000,119.000000,194.000000,105.000000,69.000000,155.000000,89.000000,15.000000

[TeamsFranchises]: franchID, franchName, active, NAassoc

       franchID            franchName active NAassoc
count       120                   120     95      12
unique      120                    99      2      12
top         CKK  Washington Nationals      N     NYU
freq          1                     5     65       1

[TeamsHalf]: yearID, lgID, teamID, Half, divID, DivWin, Rank, G, W, L

       yearID       Half       Rank          G          W          L
count    52.0  52.000000  52.000000  52.000000  52.000000  52.000000
mean   1981.0   1.500000   3.692308  53.423077  26.711538  26.711538
std       0.0   0.504878   1.842190   2.872084   5.333345   5.184201
min    1981.0   1.000000   1.000000  48.000000  15.000000  20.000000
25%    1981.0   1.000000   2.000000  52.000000  23.000000  23.000000
50%    1981.0   1.500000   4.000000  53.000000  27.000000  26.000000
75%    1981.0   2.000000   5.000000  56.000000  31.000000  29.000000
max    1981.0   2.000000   7.000000  60.000000  37.000000  42.000000

[Managers]: playerID, yearID, teamID, lgID, inseason, G, W, L, rank, plyrMgr

,yearID,inseason,G,W,L,rank
count,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000,3435.000000
mean,1954.223516,1.233120,124.168510,61.729627,61.738068,4.339738
std,42.078606,0.596025,50.414981,28.746768,26.417168,2.396520
min,1871.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,1918.000000,1.000000,91.000000,42.000000,46.000000,2.000000
50%,1962.000000,1.000000,154.000000,70.000000,68.000000,4.000000
75%,1991.000000,1.000000,162.000000,84.000000,81.000000,6.000000
max,2016.000000,9.000000,165.000000,116.000000,120.000000,12.000000

[Batting]: playerID, yearID, stint, teamID, lgID, G, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO, IBB, HBP, SH, SF, GIDP

,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102392.000000,101516.000000,79360.000000,102816.000000,94978.000000,66251.000000,100006.000000,96478.000000,66782.000000,76706.000000
mean,1964.262313,1.077838,51.343439,141.905511,18.815544,37.139930,6.289167,1.293252,2.813599,17.003975,2.976821,1.226008,13.067207,20.529712,1.105870,1.056057,2.299540,1.054101,2.981018
std,38.856297,0.284366,47.121658,184.654492,28.242983,52.603757,9.662468,2.645770,6.304919,26.352011,7.717174,2.747377,20.746460,28.328542,2.780187,2.276251,4.241095,1.961732,4.735153
min,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1934.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1973.000000,1.000000,34.000000,49.000000,4.000000,9.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1998.000000,1.000000,80.000000,231.000000,27.000000,58.000000,9.000000,1.000000,2.000000,24.000000,2.000000,1.000000,18.000000,29.000000,1.000000,1.000000,3.000000,1.000000,4.000000
max,2016.000000,5.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000